{{#partial "content"}}
    <section>
        <div class="container">
            <div class="entry-list">
                {{#each entries}}
                    <article>
                        <h2><a href="detail.html">{{ this }}</a></h2>
                        <time datetime="2024-10-01 1:00">October 1, 2024 at 1:00</time>
                    </article>
                {{/each}}

            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs }}
